.form-outer {
    background: url(../images/auth-bg.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    .form-left {
        .parent-logo {
            text-align: center;
            margin: 22em 0 0 300px;
            img {
                width: 450px;
            }
        }
    }
    .form-right {
        background: #fff;
        min-width: 50vh;
        height: calc(100vh - 80px);
        @include margin(40px);
        @include padding(40px);
        @include padding-t(calc(100vh - 650px));
        .form-options {
            @include margin-t(20px);
        }
        h3 {
            @include fontWeight(300);
        }
        &.register-right {
            @include padding-t(20px);
            overflow: auto;
        }
    }
}