/* Landing Page */

#h-home-landing-banner {
    background: url("../images/landing-banner.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 340px;
    .overlay {
        background: rgba(0, 0, 0, 0.5);
        height: 340px;
        h2 {
            color: #fff;
            padding-top: 140px;
            padding-bottom: 20px;
            font-weight: 300;
            font-size: 36px;
        }
    }
}

#apps-container {
    background: #fff;
    @include padding-b(50px);
    .card {
        text-align: center;
        cursor: pointer;
        @include padding-y(40px);
        a {
            color: #333;
            text-decoration: none;
            .img-container {
                display: inline-block;
                width: 120px;
                height: 120px;
                line-height: 120px;
                border: 2px solid $brand-primary;
                @include bordradius(50%);
                span {
                    display: block;
                    height: 60px;
                    width: 50px;
                    margin: 25px auto 0;
                    &.app-1 {
                        @include transition();
                        @include bgurl("../images/app-icon-1.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                    &.app-2 {
                        @include transition();
                        @include bgurl("../images/app-icon-2.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                    &.app-3 {
                        @include transition();
                        @include bgurl("../images/app-icon-3.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                    &.app-4 {
                        @include transition();
                        @include bgurl("../images/app-icon-4.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                    &.app-5 {
                        @include transition();
                        @include bgurl("../images/app-icon-5.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                    &.app-6 {
                        @include transition();
                        @include bgurl("../images/app-icon-6.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                    &.app-7 {
                        @include transition();
                        @include bgurl("../images/app-icon-7.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                    &.app-8 {
                        @include transition();
                        @include bgurl("../images/app-icon-8.png");
                        @include bgsize(100%);
                        @include bgpos(0 -62px);
                    }
                }
            }
        }
        .card-block {
            .card-title {
                @include margin-t(20px);
                font-weight: 300;
            }
        }
        &:hover {
            @include boxshadow();
            .img-container {
                background: $brand-primary;
                span {
                    &.app-1 {
                        @include bgpos(0 5px);
                    }
                    &.app-2 {
                        @include bgpos(0 5px);
                    }
                    &.app-3 {
                        @include bgpos(0 5px);
                    }
                    &.app-4 {
                        @include bgpos(0 5px);
                    }
                    &.app-5 {
                        @include bgpos(0 5px);
                    }
                    &.app-6 {
                        @include bgpos(0 5px);
                    }
                    &.app-7 {
                        @include bgpos(0 5px);
                    }
                    &.app-8 {
                        @include bgpos(0 5px);
                    }
                }
            }
            .card-block {
                .card-title {
                    color: $text-primary;
                }
            }
        }
    }
}