// DEFINE ONLY ELEMENT CSS PROPERTIES (NO CLASSES SHOULD BE DEFINE HERE INSTEAD USE GLOBAL.SCSS)
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


body {
    font-family: 'Roboto', sans-serif;
    background: #e9e9e9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

a {
    color: #0db26b;
    &:hover,
    &:focus {
        color: #a06cb3;
    }
}

