@import "_variables";
@import "_helper";
@import "_mixins";
.btn-primary {
    background: $brand-primary;
    border-color: $btn-primary-border;
    @include bordradius(0px);
    @include boxshadow();
    @include transition();
    @include padding-x(20px);
    min-width: 110px;
    font-size: 16px;
    &:hover,
    &:focus,
    &:active {
        background: $brand-accent;
        border-color: $btn-accent-border;
        outline: none;
    }
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open>.btn-primary.dropdown-toggle:hover,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle.focus {
    background: $brand-accent;
    border-color: $btn-accent-border;
    outline: none;
}

.btn-secondary {
    background: #fff;
    border-color: #eee;
    @include bordradius(0px);
    @include boxshadow();
    @include transition();
    @include padding-x(20px);
    min-width: 110px;
    font-size: 16px;
    &:hover,
    &:focus,
    &:active {
        background: #fff;
        border-color: #fff;
        outline: 0 none;
    }
}

.text-primary {
    color: $text-primary;
}

.text-accent {
    color: $text-accent;
}

h2 {
    &.heading-2 {
        font-size: 30px;
        font-weight: 500;
        @include padding-y(20px);
        &::after {
            content: '';
            border-bottom: 3px solid $text-accent;
            display: block;
            width: 3em;
            margin: 20px auto;
        }
    }
}

.container {
    background: #fff;
    @include padding(10px);
}

.main-container {
    @include margin-t(20px);
    @include padding(20px);
    overflow: auto;
}

.dropdown-menu {
    @include bordradius(0px);
    &>li {
        &>a {}
    }
}

.payment-container{
    .form-radio{
        margin-bottom: 0px;
    }
}
.modal-body{
    height: 60vh;
    overflow: auto;
}