table {
    &.table {
        .checkbox {
            @include margin(0px);
        }
        @include margin-t(30px);
        &>thead {
            &>tr {
                &>th {
                    font-weight: 500;
                    border-bottom: 2px solid #efefef;
                }
            }
        }
        &>tbody {
            &>tr {
                &>td {
                    border-top: 1px solid #efefef;
                }
            }
        }
    }
}