header {
    @include padding-y(20px);
    @include clearfix;
    .logo {
        font-size: 26px;
        line-height: normal;
    }
    &.app-header{
        background: $brand-primary;
        .logo{
            color: #fff;
            @include padding-x(20px);
        }
        .text-white{
            color:#fff;
        }
        .media-body {
            .list-unstyled{
                @include margin-b(0px);
                .list-inline-item{
                    @include margin-x(10px);
                    .book-text{
                        @media screen and (max-width: $screen-xs-max) {
                            display: none;
                        }
                    }
                    .book-icon{
                        display: none;
                        @media screen and (max-width: $screen-xs-max) {
                            display: block;
                        }
                    }
                    .dropdown-menu-custom{
                            top:48px;                            
                            & > li{
                                & > a{
                                    line-height: 40px;
                                    border-bottom: 1px solid #eee;
                                }
                                                
                            }
                        }
                        
                    }
                 }

             }
        
                
         }
    
    }

