.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.pos-f-t {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clr{
    clear: both;
}
.mar-top-sm{
    margin-top:10px !important;
}
.mar-right-sm{
    margin-right:10px !important;
}
.mar-bottom-sm{
    margin-bottom:10px !important;
}
.mar-left-sm{
    margin-left:10px !important;
}