@mixin margin-x($value) {
    margin-right: $value;
    margin-left: $value;
}

@mixin margin($value) {
    margin: $value;
}

@mixin margin-y($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin margin-t($value) {
    margin-top: $value;
}

@mixin margin-b($value) {
    margin-bottom: $value;
}

@mixin padding($value) {
    padding: $value;
}

@mixin padding-x($value) {
    padding-right: $value;
    padding-left: $value;
}

@mixin padding-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin padding-t($value) {
    padding-top: $value;
}

@mixin padding-b($value) {
    padding-bottom: $value;
}

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin bordradius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin boxshadow() {
    -webkit-boxshadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -moz-boxshadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -ms-boxshadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

@mixin transition() {
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    -moz-transition: all .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: all .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

@mixin bgsize($size) {
    background-size: $size;
}

@mixin bgurl($url) {
    background: url($url);
    background-repeat: no-repeat;
}

@mixin bgpos($pos) {
    background-position: $pos;
}

@mixin fontWeight($size) {
    font-weight: $size;
}