.modal-header {
    background: $brand-primary;
    color: #fff;
}

.modal-content {
    @include bordradius(0px);
    min-height: 500px;
}

.time-slot {
    a {
        display: inline-block;
        border: 1px solid #eee;
        color: #333;
        text-decoration: none;
        @include margin(5px);
        @include padding(6px 5px);
        &:hover,
        &.active {
            background: $brand-primary;
            color: #fff;
        }
        &.disable {
            background: #ccc;
            color: #aaa;
            cursor: not-allowed;
            &:hover,
            &.active {
                background: #ccc;
            }
        }
    }
}

.form-fill {
    @include padding-y(10px);
    label {
        display: block;
        color: #b3b3b3;
        font-weight: 300;
        @include padding-y(10px);
    }
    p {}
}