.sub-header,
.nav-bar-custom {
    .nav-tabs {
        background: #fff;
        border-bottom: 0px;
        &>li {
            &>a {
                @include bordradius(0px);
                @include padding(15px 40px);
                color: #333;
                @media screen and (max-width: $screen-xs-max) {
                    @include padding(10px 8px);
                }
            }
            &.active {
                &>a {
                    border: none;
                    border-bottom: 4px solid $brand-accent;
                    color: $brand-accent;
                    font-weight: 500;
                }
            }
        }
    }
}

.nav-bar-custom {
    .nav-tabs {
        &>li {
            @media screen and (max-width: $screen-xs-max) {
                    width: 100%;
                   
                }
            &>a {
                @include padding(10px 14px);
            }
            &.active {
                &>a {
                    border-bottom: 2px solid $brand-accent;
                }
            }
        }
        @media screen and (max-width: $screen-xs-max) {
        //    display: none;
           
        }
    }
    .dropdown{
        display: none;
        
    }
    @media screen and (max-width: $screen-xs-max) {
        .dropdown{
            display: block;
            width:100%;
            
        }
        
     }
}