$brand-primary: #0db26b; // #337ab7
$brand-accent: #a06cb3;
$text-primary: #0db26b; // #337ab7
$text-accent: #a06cb3;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);
$btn-accent-border: #a06cb3;