// Profile Page SCSS
.pat-main-container {
    @include margin-y(100px);
    .prfile-pic {
        margin-top: -100px;
        @media screen and (max-width: $screen-xs-max) {
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        .pic {
            @include margin-b(10px);
            @include bordradius(100%);
            border: 5px solid #fff;
            overflow: hidden;
            display: inline-block;
            width: 160px;
            height: 160px;
            background: #fff;
            @include boxshadow();
            img {
                max-height: 100%;
            }
        }
        .upload-txt {
            @include margin-b(10px);
            a {}
        }
    }
    .patient-form {
        @include margin-b(30px);
        overflow: hidden;
        .form-container {
            @include margin-b(30px);
        }
    }
    .btn-container {
        @include margin-t(20px);
    }
    .profile-main-btn {
        text-align: right;
        position: relative;
        @include margin-t(-60px);
        @include margin-x(-10px);
        @include padding-b(30px)
    }
}